.biografi {
  margin: $gutter auto;
  max-width: $titelWidth;

  .biografi__text {
    font-size: 1.2rem;
    font-weight: 300;
    white-space: pre-line;
  }

  img {
    width: 100%;
    max-width: 370px;
  }

  section {
    text-align: left;
  }

  dl {
    display: flex;
    flex-wrap: wrap;

    dt {
      flex: 0 0 20%;
      max-width: 20%;
      
    }

    dd {
      flex: 0 0 80%;
      max-width: 80%;
      margin: 0;
    }
  }

  @media only screen and (min-width: 640px) {
    display: flex;

    section {
      flex: 1;
      margin-left: 2rem;
    }

    .biografi__text {
      font-size: 1.4rem;
    }
  }
}