.biografi {
    margin: 0 auto;
    max-width: $titelWidth;

    .biografi__text {
        font-weight: $fontWeightLight;
        white-space: pre-line;
    }

    img {
        width: 100%;
        max-width: 450px;
    }

    section {
        text-align: left;
    }

    @media only screen and (min-width: 640px) {
        display: flex;

        section {
            flex: 1;
            margin-left: $baseGutter;
        }
    }
}
