body {
  font-family: $baseFontFamily;
  font-weight: $fontWeightRegular;
  font-size: $baseFontSize;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  
  overflow-y: scroll;  
}

.App {
  text-align: center;
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 $baseGutter/3;
}

footer {
  margin: $baseGutter 0;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}