h1 {
  font-size: $heading1Size;
  font-weight: $fontWeightThin;
  font-feature-settings: "liga", "dlig";
}

h2 {
  font-size: $heading2Size;
  font-weight: $fontWeightLight;
}

b {
  font-weight: $fontWeightMedium;
}

a {
  text-decoration: none;
  color: $linkColor;

  &:hover {
    text-decoration: underline;
  }
}

.lead {
  font-size: $heading5Size;

  @media only screen and (min-width: 640px) { 
    font-size: $heading4Size;
  }
}

img {
  max-width: 100%;
  display: block;
}