$gutter: 64px;

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 5em;
  font-weight: 100;
  font-feature-settings: "liga", "dlig";
}

.App-intro {
  font-size: large;
}

.header {
  display: block;
  margin-bottom: $gutter;

  img {
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: $gutter;
  }

  p {
    max-width: 550px;
    margin: 0 auto;
  }
}

.App-flow {
  list-style: none;
  max-width: 550px;
  margin: 0 auto;

  li {
    margin-bottom: $gutter;
  }
}

img {
  max-width: 100%;
  display: block;
}

.art-image {
  cursor: pointer;
}

.container {
  max-width: 1060px;
  margin: 0 auto;
}

.books {
  margin-top: $gutter;

  > div {
    display: flex;
    align-items: center;
    margin: $gutter 0;

    figure {
      float: left;
      width: 250px;
      margin: 0;
      padding: 0 20px;
      cursor: pointer;
    }
  }

  .bottom {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: $gutter;
  }
}

footer {
  margin: 20px 0;

  span {
    margin: 0 10px;
  }
}
